.calendar-container {
    max-width: 600px;
    margin: auto;
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  .react-calendar {
    border: none;
    font-family: Arial, sans-serif;
    width: 1000px;
    height: 100%;
    margin: auto;
    
    
    
  }
  .react-calendar__tile--active {
    background: #bebebe !important;
    color: white !important;
    
  }
  
  .react-calendar__tile:hover {
    background: #bebebe !important;
    cursor: pointer;
  }

  .react-calendar__tile{
    height: 80px;
    width: 80px;
  }

  .react-calendar__navigation {
    width:100%
  }

  .react-calendar__navigation__label {
    width: 300px;
    text-align: center;
    display: block;
  }

  .event-marker {
    background: rgb(243, 243, 152);
    border-radius: 5px;
    padding: 3px;
    font-size: 10px;
    text-align: center;
    margin-top: 5px;
    word-wrap: break-word;
  }

  /* Ensure all days (including weekends) are black */
.react-calendar__month-view__days__day {
  color: black !important;
}

/* Change the background and text color of the current date */
.react-calendar__tile--now {
  background: #ef5f5f !important;  /* Change this to your desired color */
  color: black !important;
  border-radius: 5px;
  font-weight: bold;
}