@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app {
  background-color: #d7cfb5;
  display: flex;
  height: 80vh; /* Leaves space for the navigation bar */
}

.side-bar {
  background-color: #e3b781;
  height: 100%; /* Adjusted to fit within app's height */
  width: 244px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  border: solid 0.5px rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

nav {
  border-top: solid 0.5px rgba(255, 255, 255, 0.5);
  padding: 10px;
  margin: 10px;
}

.history {
  padding: 10px;
  margin: 10px;
  height: calc(100% - 20px); /* Accounts for padding and margins */
  overflow-y: auto; /* Enables scrolling if content exceeds height */
}

.history li {
  list-style-type: none;
  padding: 0;
  cursor: pointer;
}

.main {
  height: 100%; /* Adjusted to fill remaining app height */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.info {
  color: rgba(255, 255, 255, 0.5);
  font-size: 11px;
  padding: 10px;
}

.bottom-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container {
  position: relative;
  width: 100%;
  max-width: 650px;
}

input {
  width: 100%;
  border: none;
  font-size: 20px;
  background-color: rgba(255,255,255, 0.05);
  padding: 12px 15px;
  border-radius: 5px;
  box-shadow: rgba(0,0,0, 0.05) 0 54px 55px,
    rgba(0,0,0, 0.05) 0 -12px 30px,
    rgba(0,0,0, 0.05) 0 4px 6px,
    rgba(0,0,0, 0.05) 0 12px 3px,
    rgba(0,0,0, 0.05) 0 -3px 5px;
}

input:focus {
  outline: none
}

#submit {
  position: absolute;
  bottom: 15px;
  right: 0px;
  cursor: pointer;
}

.feed {
  width: 100%;
  padding: 0;
  overflow-y: auto; /* Ensures scrollability for longer content */
  max-height: calc(100% - 50px); /* Prevents overflow into the navigation bar */
}

.feed li {
  display: flex;
  background-color: #444654;
  width: 100%;
  padding: 20px;
  margin: 20px 0;
}

.feed p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  text-align: left;
}

.feed p.role {
  min-width: 100px;
}
