* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .container {
    margin: 1rem;
    text-align: center;
  }
  
  .nav {
    background-color: #333;
    color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 5;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding-left: 400px;
    padding-right: 400px;
    padding-bottom: 20px;
    padding-top: 20px;
    -webkit-box-shadow: 0px -4px 5px 0px rgb(197, 197, 197);
-moz-box-shadow: 0px -4px 5px 0px rgb(216, 216, 216);
box-shadow: 0px -4px 5px 0px rgb(211, 211, 211);
  }
  .nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
  }
  
  .nav li:hover {
    color:#6972F0
  }

  .chat li.active,
  .calendar li.active,
  .entries li.active {
      color: #6972F0;
  }

  .icon{
    margin-bottom: auto; /* Push icon to the top */
    padding-bottom: 5px;
}

.navLink span {
    margin-top: auto; /* Push text to the bottom */
    font-size: 0.9rem; /* Adjust size if needed */
}